body {
    background-color: #52FFEB;
    color: #161A40;
}
h1{
    text-align: center;
    font-size: 60px;
    margin-right: 13%;
    margin-left: 17%;
    background-color: #161A40;
    color: #52FFEB;
}
p{
    font-size: 20px;
}
nav{
    text-align: center;
    background-color:#161A40;
    height: 28px;
    font-size: 21px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.logo img{
    width: 18%;
    float: left;
}
.product1 img{
    width: 15%;
}
footer{
    height: 70px;
    color: #52FFEB;
    background-color: #161A40;
    font-size: 18px;
}
a{
    color:#52FFEB;
}
li{
    font-weight: bold;
    font-size: 20px;
}
