body {
    background-color: #52FFEB;
    color: #161A40;
}
h1{
    text-align: center;
}
p{
    margin-right: 40%;
}
nav{
    text-align: center;
}
h2{
    text-align: center;
    margin-right: 40%;
}